[user]
	name = Dot-H
	email = alexandre.bernard@epita.fr

[core]
    editor = vim
    whitespace = fix, -indent-with-non-tab, trailing-space
	excludesfile = ~/.gitignore

[color]
    ui = auto

[pull]
    rebase = true

[diff]
    renamelimit = 0
    renames = copy
	submodule = log

[commit]
    verbose = true

[alias]
    lo = log --graph --oneline
    c  = commit -s
    cm = commit -s -m
    cane = commit -s --no-edit --amend
    subpull = submodule foreach 'git pull --rebase'
	pushf = push --force-with-lease
[push]
	recurseSubmodules = check

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
