[user]
	name = Alexandre Bernard
	email = alexandre.bernard@epita.fr
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
    lo = log --graph --oneline
    c  = commit -s
    cm = commit -s -m
    cane = commit -s --no-edit --amend
    subpull = submodule foreach 'git pull --rebase'
	pushf = push --force-with-lease
	pushu = push --set-upstream origin HEAD

